# ワークフローの名前
name: deploy
# ワークフロー実行タイミングは
on:
  # mainブランチへのPUSH
  push:
    branches:
      - main
jobs:
  deploy: # job名
    # ubuntuで動かす
    runs-on: ubuntu-latest
    steps:
      # 該当ブランチをチェックアウトする
      - uses: actions/checkout@v3
      # Firebase CLIをインストールする
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install -g firebase-tools
      # Python環境を構築する
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      # Poetryをインストールする
      - run: pip install poetry
      # ライブラリをインストールする
      - run: poetry install
      # 実行する
      - run: poetry run python main.py
      # Deploy to Firebase hosting
      - run: firebase deploy --token ${{ secrets.FIREBASE_TOKEN }} --only hosting:contents
